.grid-container{
    background-color: brown;
    display: grid;
    grid-template-columns:auto auto auto ;
                /* 3 are valid 1fr and 100px and auto */
   
}

.grid-containers{
    background-color: rgb(49, 48, 48);
    display: grid;
    grid-template-columns:auto 1fr 200px ;
}

.grid-item{
    background-color: rgb(51, 0, 255);
    color: white;

    font-size: 18px;
    margin: 15px;

}

.grid-item:nth-child(1){
    background-color: blue;
}

.grid-item:nth-child(2){
    background-color: rgb(168, 13, 145);
}


.grid-item:nth-child(1){
    background-color: rgb(115, 202, 16);
}



.grid{
    
    background-color: brown;
    display: grid;
    grid-template-columns:100px 1fr auto  ;
    grid-template-rows:  auto 100px 1fr ;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
    margin: 10px;


}

.item-container{
    background-color: rgb(38, 196, 196);
    font-size: 15px;
    padding: 20px;
    text-align: center;
    color: blueviolet;
    font-weight: bolder;
}

.header{
    background-color: rgb(73, 210, 23);
}
.aside{
    background-color: rgb(189, 226, 43);
}
.main{
    background-color: rgb(15, 187, 112);
}
.footer{
    background-color: rgb(240, 125, 17);
}
