@media (Min-width:350px) and (max-width:650px)  {
    body{
        background-color: blueviolet;
    }
    h1{
        font-size: 25px;
        background-color:  rgb(43, 226, 52);
    }
}

@media (Max-width:350px)   {
    body{
        background-color: rgb(43, 226, 52);
    }
    h1{
        font-size: 15px;
        background-color: blueviolet;
    }
}

